[build-system]
requires = ["hatchling>=1.14.0"]
build-backend = "hatchling.build"

[project]
name = "telegram-download-daemon-ng"
version = "0.0.1"
description = "A daemon to automate telegram download of big files."
readme = "README.md"
requires-python = ">=3.7"
keywords = [
  "download",
  "downloads",
  "telegram",
]
authors = [
  { name = "Luis Zurro", email = "luiszurrodecos@gmail.com" },
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: System Administrators",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Natural Language :: Spanish",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]
dependencies = [
  "cffi==1.15.1",
  "cryptg==0.4",
  "pyaes==1.6.1",
  "pyasn1==0.5.0",
  "pycparser==2.21",
  "rsa==4.9",
  "Telethon>=1.28.2",
  "humanize==4.8.0",

]

[project.urls]
Homepage = "https://github.com/Nyaran/telegram-download-daemon-ng"
Sponsor = "https://github.com/sponsors/Nyaran"
Tracker = "https://github.com/Nyaran/telegram-download-daemon-ng/issues"
