name: Publish Release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build Project
        uses: ./.github/workflows/actions/build-package

  publish-pipy:
    name: Upload release to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/telegram-download-daemon-ng
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Download wheel artifact
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
